
ul{
  box-sizing: border-box;
}


body {
  margin: 0;
}


/* Stijlen van de bovenkant waar de titel staat */
.header {
  background-color: #d0d8d3;
  padding: 20px;
  text-align: center;
  color:rgb(205, 231, 195)
}


li {
  margin: 0;
}


  /* Stijlen van de bovenkant van het menu */
.topnav {
  overflow: hidden;
  background-color: rgba(48, 45, 45, 0.808);
}

/* Stijlen van de plaats en de kleur van het menu */
.topnav a {
  float: left;
  display: block;
  color:  #d0d8d3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}








<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #e8ece9;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(165, 216, 186);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #e8ece9 ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(165, 216, 186);
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
</div>

<div class="topnav">
<li><a href="index.html">Home<a></li>
<li><a href="binairstelsel.html">binairstelsel</a></li>
<li><a href="kleurmodellen.html">kleurmodellen</a></li>
<li><a href="bitmap,vectorafbeeldingen en opslag van geluid.html"> bitmapafbeelding, vectorafbeelding en opslag van geluid</a></li>
</div>
