



head{box-sizing: border-box;
     margin: 0;
     background-color: #ccc8c8;
     padding: 20px;
     text-align: center;
     text-decoration: rgb(181, 223, 191);
}




h1{box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
  padding: 1px;
  text-align: center;
  text-decoration: rgb(0, 0, 0)


}



ul{ box-sizing: border-box;
  overflow: hidden;
  background-color:rgb(181, 223, 191);
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}