
<style>
* {
    box-sizing: border-box;
  }



/* Style the header */
.header {
  background: rgb(196, 191, 191);
  padding: 20px;
  text-align: center;
}



/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: rgb(160, 202, 149);
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: rgb(196, 191, 191);
  color: black;
}

<div class="topnav">
  <a href="#">binairstelsel</a>
  <a href="#">kleurmodellen</a>
  <a href="#">bitmap,vectorafbeeldingen en opslag van geluid</a>
</div>

</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
</div>